/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT STATUSCANC, STATUS
	,MODELO
	,*
FROM [CTE].[dbo].[SPED050]
WHERE STATUSCANC = 1
	AND DATE_NFE >= '20150601'
	AND MODELO = 57
	AND D_E_L_E_T_ <> '*'
ORDER BY 5 DESC


SELECT STATUS, STATUSCANC
	,MODELO,STATUS
	,*
FROM [CTE].[dbo].[SPED050]
WHERE STATUSCANC = 1
	AND DATE_NFE >= '20150601'
	AND MODELO = 57
	AND D_E_L_E_T_ <> '*'
	and DOC_CHV = '31160686613403002094570000000599541999940044'
ORDER BY 5 DESC


--UPDATE [CTE].[dbo].[SPED050] SET STATUS = 6 , STATUSCANC = 0
--WHERE STATUSCANC = 1 
--AND DOC_CHV = '31160686613403002094570000000599541999940044'
--AND R_E_C_N_O_ = '324981'
--and D_E_L_E_T_ <> '*'
--AND MODELO = 57


--UPDATE [CTE].[dbo].[SPED050] SET STATUS = 6 , STATUSCANC = 0
--WHERE STATUSCANC = 1 
--AND DOC_CHV = '31160686613403000717570000000235191999976480'
--AND R_E_C_N_O_ = '324982'
--and D_E_L_E_T_ <> '*'
--AND MODELO = 57


--UPDATE [CTE].[dbo].[SPED050] SET STATUS = 6 , STATUSCANC = 0
-- WHERE STATUSCANC = 1 
--AND DOC_CHV = '31160686613403003902570000000048151999995183'
--AND R_E_C_N_O_ = '324999'
--and D_E_L_E_T_ <> '*'
--AND MODELO = 57


--UPDATE [CTE].[dbo].[SPED050] SET STATUS = 6 , STATUSCANC = 0
-- WHERE STATUSCANC = 1 
--AND DOC_CHV = '31160686613403001527570000000165911999983403'
--AND R_E_C_N_O_ = '324990'
--and D_E_L_E_T_ <> '*'
--AND MODELO = 57

--UPDATE [CTE].[dbo].[SPED050] SET STATUS = 6 , STATUSCANC = 0
-- WHERE STATUSCANC = 1
--AND DOC_CHV = '31160686613403001527570000000165911999983403'
--AND R_E_C_N_O_ = '324990'
--and D_E_L_E_T_ <> '*'
--AND MODELO = 57

--UPDATE [CTE].[dbo].[SPED050] SET STATUS = 6 , STATUSCANC = 0
-- WHERE STATUSCANC = 1
--AND DOC_CHV = '31160686613403000393570000000190371999980960'
--AND R_E_C_N_O_ = '325013'
--and D_E_L_E_T_ <> '*'
--AND MODELO = 57




--UPDATE [CTE].[dbo].[SPED050] SET STATUSCANC = 2
-- WHERE STATUSCANC = 1
--AND DATE_NFE >= '20150601' 
--and D_E_L_E_T_ <> '*'
--AND MODELO = 57



